name: Buld and test

on:
    push:
        branches: [main]

jobs:
    check-and-test:
        name: Check and test
        runs-on: ubuntu-latest

        permissions:
            id-token: write # Needed for auth with Deno Deploy
            contents: read # Needed to clone the repository

        steps:
            - name: Clone repository
              uses: actions/checkout@v3

            - name: Install Deno
              uses: denoland/setup-deno@v1
              with:
                  deno-version: v2.x
            - name: Install step
              run: "deno install"
            - name: Check step
              run: "deno task check"
            - name: Test step
              run: "deno task test"
    version-check:
        name: Check if version changed
        runs-on: ubuntu-latest
        needs: check-and-test
        outputs:
            changed: ${{ steps.version-check.outputs.changed }}
            version: ${{ steps.extract.outputs.version }}
        steps:
            - name: Checkout repo
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0 # Required for git diff

            - name: Set up Deno
              uses: denoland/setup-deno@v1
              with:
                  deno-version: "latest"

            - name: Check if version changed in workspaces/di/deno.json
              id: version-check
              run: |
                  git fetch origin main
                  OLD_VERSION=$(git show HEAD^:workspaces/di/deno.json | jq -r '.version')
                  NEW_VERSION=$(jq -r '.version' workspaces/di/deno.json)

                  echo "Old version: $OLD_VERSION"
                  echo "New version: $NEW_VERSION"

                  if [ "$OLD_VERSION" != "$NEW_VERSION" ]; then
                      echo "changed=true" >> "$GITHUB_OUTPUT"
                  else
                      echo "changed=false" >> "$GITHUB_OUTPUT"
                  fi
            - name: Extract version
              id: extract
              run: |
                  VERSION=$(jq -r '.version' workspaces/di/deno.json)
                  echo "version=$VERSION" >> $GITHUB_OUTPUT
    publish:
        runs-on: ubuntu-latest
        needs: version-check
        if: needs.version-check.outputs.changed == 'true'
        permissions:
            contents: read
            id-token: write # The OIDC ID token is used for authentication with JSR.
        steps:
            - name: Checkout repo
              uses: actions/checkout@v4
            - name: Publish to JSR
              run: npx jsr publish
